@media (max-width:768px) {
    #quem-somos h1, .titulo-home h1 {
        font-size: 35px;
    }
    .wrap {
        min-height: calc(100vh - 220px);
    }
    .footer {
        height: auto;
    }
    iframe {
        width: 225px
    }
    #home h1 {
        font-size: 45px
    }
}

@media (max-width:460px) {
    footer .col-1-3 p {
        text-align: center;
    }
    footer .col-1-3 h1 {
        margin-left: auto;
        margin-right: auto;
    }
    footer .col-1-3 {
        display: inline-block;
        width: 100%;
        height: 225px;
    }
}

@media (max-width:680px) {
    .mapa-none {
        display: none
    }
}

@media (max-width:1200px) {
    form {
        text-align: center
    }
    .input1,
    .input2,
    .input3 {
        width: 25%;
        margin-right: 7px;
    }
    textarea {
        width: 82%
    }
    .sua-msg {
        margin: 0 auto;
    }
    #home h1 {
        font-size: 35px
    }
}

@media (max-width:768px) {
    .input1,
    .input2,
    .input3 {
        display: block;
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 20px;
    }
    textarea {
        display: block;
        width: 83%;
        margin-right: auto;
        margin-left: auto
    }
    .sua-msg {
        width: 100%;
    }
}

@media (max-width:480px) {
    #home h1 {
        font-size: 30px
    }
}

@media (max-width:520px) {
    .quemsomos, .eventos {
        width: 100%;
    }
    .home2 {
        width: 100%
    }
}

@media (min-width:680px) {
    footer .redes-sociais h1 {
        display: none;
    }
}


@media(max-width:950px) {
    #produtos div:nth-child(3) {
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #produtos a{
        font-size:15px;
        padding: 15px 27px;
    }
}

@media (max-width:767px) {
    .quemsomos, .eventos {
        margin: 50px 0 25px 0;
    }
    .home2 {
        margin-top: 15px;
    }
    .home2 .detalhes {
        margin-bottom: 5%;
    }
    #home2 {
        padding-bottom: 50px;
    }
    #produtos div:nth-child(3) {
        height: 0px;
        margin-bottom:50px;
  
    }
}
@media (max-width:420px){
    #produtos a {
        font-size: 12px;
padding: 10px 20px;
    }
}