@font-face{
    font-family:fonte-bold;
    src: url('fonts/Montserrat-Bold.otf');
}
@font-face{
    font-family:fonte-ExtraBold;
    src: url('fonts/Montserrat-ExtraBold.otf');
}
@font-face{
     font-family:fonte-Hairline;
     src: url('fonts/Montserrat-Hairline.otf');
}
@font-face{
     font-family:fonte-Light;
    src: url('fonts/Montserrat-Light.otf');
}
@font-face{
     font-family:fonte-Regular;
    src: url('fonts/Montserrat-Regular.otf');
}
@font-face{
    
    font-family:fonte-UltraLight;
    src: url('fonts/Montserrat-UltraLight.otf');
}
